PORT=8000
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=code
ACCESS_TOKEN_EXPIRES=1d

REFRESH_TOKEN_SECRET=backend
REFRESH_TOKEN_EXPIRES=7d

CLOUDINARY_CLOUD_NAME=dt9dnz3hi
CLOUDINARY_API_KEY=859932189378958
CLOUDINARY_API_SECRET=VQrBdssCFvjDp5fPfHLb-ygcLn4

MONGO_URL=mongodb+srv://GAJJU:GAJJU@cluster0.vibut9h.mongodb.net